#countdown {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 288px;
	font-color: white;
	color: white;
	margin: 0px;
	border: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	border: 0px;
	padding: 0px;
}